<% @articles.each do |article| %>
<article class="blog-article">
    <h3><%= article.title %></h3>
    <p class="article-time">
        <%= time_ago_in_words(article.created_at) %> ago 
        <%= link_to article.category.name , articles_path(category: article.category_id) %>
    </p>
    <p><%= article.introduction %></p>
    <p><%= simple_format('Tags: ' + article.tag_list.map { |t| link_to t, articles_path(tag: t) }.join(', ')) %></p>
    <%= link_to 'Read more....', article_path(article) %>
</article>
<% end %>