<h1><%= @article.title%></h1>
<p class="article-time"><%= @article.created_at %> 
  <%= link_to @article.category.name , articles_path(category: @article.category_id) %>
</p>

    <%= image_tag(@article.picture_url) if @article.picture? %>
<p><%= markdown(@article.text) %></p>

<h2>Comments</h2>
<% if not @article.comments.any? %>
<p>There are no comments.</p>
<% end %>
<% @article.comments.each do |comment| %>
<div class="panel panel-default">
  <div class="panel-body">
    <p class="comment-name"><%= comment.name %>  <span class="comment-email"><%= comment.email %></span><p>
    <p> <%= comment.text%></p>
    <% if comment.reply %>
    <div class="well"><%= comment.reply %></div>
    <% end %>
  </div>
</div>
<% end %>
    
<h3>Create a comment: </h3>
<%= form_for([@article, @article.comments.build]) do |f| %>
<%= render :partial => 'comment_form.html', :locals =>{:f => f} %>
<% end %>