
<div class="panel panel-default">
  <div class="panel-body">
    <h3><%= @article.title %></h3>
    <p class="article-time">
      <%= @article.created_at%> 
      <%= @article.category.name %> 
      </p>
    <div><%= markdown(@article.text) %></div>

  </div>
  <div class="panel-footer">
    <%= link_to 'edit', edit_skvsdovlmfd_article_path(@article)  %>
    <%= link_to 'destroy', skvsdovlmfd_article_path(@article), :method => :delete  %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Articles</div>
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>name</th>
        <th>email</th>
        <th>text</th>
        <th>reply</th>
        <th>created_at</th>
        <th>details</th>
      </tr>
    </thead>
    <tbody>
    <% @article.comments.each do |comment| %>
    <tr>
      <td><%= comment.id %></td>
      <td><%= comment.name %></td>
      <td><%= comment.email || 'nil'  %></td>
      <td><%= comment.text %></td>
      <td><%= comment.reply || 'nil'  %></td>
      <td><%= comment.created_at %></td>
      <td>
      <%= link_to 'reply', edit_skvsdovlmfd_article_comment_path(@article, comment)  %>
      <%= link_to 'destroy', skvsdovlmfd_article_comments_path(@article, comment), :method => :delete  %>
      </td>

    </tr>
    <% end %>
    </tbody>
  </table>
</div>
