<!DOCTYPE html>
<html>
<head>
  <title>Backend</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <nav class="navbar navbar-default" role="navigation">
  	<div class="container">
  		<!-- Brand and toggle get grouped for better mobile display -->
  		<div class="navbar-header">
  			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
  				<span class="sr-only">Toggle navigation</span>
  				<span class="icon-bar"></span>
  				<span class="icon-bar"></span>
  				<span class="icon-bar"></span>
  			</button>
  			<a class="navbar-brand" href="#">Backend</a>
  		</div>
  
  		<!-- Collect the nav links, forms, and other content for toggling -->
  		<div class="collapse navbar-collapse navbar-ex1-collapse">
  			<ul class="nav navbar-nav">
  				<li><%= link_to 'Articles', admin_articles_path %></li>
  				<li><%= link_to 'Categories', admin_categories_path %></li>
  				<li><%= link_to 'Blog', articles_path%></li>
  				<li><%= link_to 'new article', new_admin_article_path, class: 'btn btn-default'  %></li>
  			</ul>
  
  		</div><!-- /.navbar-collapse -->
  	</div>
  </nav>
  <%if flash[:notice] %>
<div class="alert alert-success col-md-8 col-md-offset-2 alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <%= flash[:notice] %></div>
<% end %>
<%if flash[:alert] %>
<div class="alert alert-danger col-md-8 col-md-offset-2 alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <%= flash[:alert] %></div>
<% end %> 
  <section class="col-md-8 col-md-offset-2">
   
  <%= yield %>
  </section>
</body>
</html>
